.DS_Store
terraform.tfstate.backup
.terraform.lock.hcl
bastion.key
bastion.key.pub
terraform.tfstate
.terraform.tfstate.lock.info
packer/distributed/master/jenkins.key
packer/distributed/master/jenkins.key.pub
.terraform/
Repository Name: "DevOpsDojo: Finding Ik.md
